Repository Rapig1915/fmc-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-push:
  commands:
    packages-audit:
      tags: security
      run: yarn audit
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{ts,tsx}"
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    stylelint:
      glob: "*.{css,scss}"
      run: yarn prettier --write {staged_files} && yarn stylelint {staged_files} && git add {staged_files}

Setup Redux Store
  package.json
  src/store/index.ts
  src/store/reducers/auth.ts
  src/store/reducers/index.ts
  src/store/types/common.ts
  src/store/types/index.ts
  yarn.lock
Due: eslint

Update README.md
  .nvmrc
  README.md
Due: none

Install Antd
  package.json
  yarn.lock
Due: none

Setup Axios & Logger
  .env
  package.json
  src/api/request.ts
  src/utils/config.ts
  src/utils/consts.ts
  src/utils/helpers.ts
  src/utils/logger.ts
  yarn.lock
Due: eslint

Redux module for APIs
  src/store/reducers/api.ts
  src/store/reducers/index.ts
  src/store/types/api.ts
  src/store/types/index.ts
Due: eslint

Create a middleware for API actions
  src/store/index.ts
  src/store/middleware/apiActionCreator.ts
  src/store/types/common.ts
Due: eslint

Add API test
  package.json
  src/store/reducers/__tests__/api.ts
  yarn.lock
Due: eslint

Setup MUI & Remove Styleling
  .stylelintrc.json
  lefthook.yml
  package.json
  src/assets/images/logo.svg
  src/index.scss
  src/index.tsx
  src/pages/home/index.tsx
  src/pages/home/style.module.scss
  src/store/middleware/apiActionCreator.ts
  src/themes/default.ts
  yarn.lock
Due: eslint, stylelint

Disable Yarn Audit
  lefthook.yml
Due: none

Update eslint, tsconfig
  .eslintrc.json
  .gitattributes
  .gitignore
  package.json
  tsconfig.json
Due: none

Add font reference to index.html
  public/index.html
Due: none

Common component with route & layout option
  src/common/RouteWithLayout/RouteWithLayout.tsx
  src/common/RouteWithLayout/index.tsx
  src/common/index.tsx
Due: eslint

Build atom, molecule, organism components
  src/components/atoms/ButtonGetQuote/ButtonQuote.tsx
  src/components/atoms/ButtonGetQuote/index.tsx
  src/components/atoms/Icon/Icon.tsx
  src/components/atoms/Icon/index.tsx
  src/components/atoms/Image/Image.tsx
  src/components/atoms/Image/index.tsx
  src/components/atoms/LearnMoreLink/LearnMoreLink.tsx
  src/components/atoms/LearnMoreLink/index.tsx
  src/components/atoms/index.js
  src/components/molecules/BadgeFeature/BadgeFeature.tsx
  src/components/molecules/BadgeFeature/index.tsx
  src/components/molecules/CountUpNumber/CountUpNumber.tsx
  src/components/molecules/CountUpNumber/index.tsx
  src/components/molecules/SectionHeader/SectionHeader.md
  src/components/molecules/SectionHeader/SectionHeader.tsx
  src/components/molecules/SectionHeader/index.tsx
  src/components/molecules/ZipcodeQuote/ZipcodeQuote.tsx
  src/components/molecules/ZipcodeQuote/index.tsx
  src/components/molecules/index.js
  src/components/organisms/CardBase/CardBase.md
  src/components/organisms/CardBase/CardBase.tsx
  src/components/organisms/CardBase/index.tsx
  src/components/organisms/CardPricingStandard/CardPricingStandard.md
  src/components/organisms/CardPricingStandard/CardPricingStandard.tsx
  src/components/organisms/CardPricingStandard/index.tsx
  src/components/organisms/Section/Section.md
  src/components/organisms/Section/Section.tsx
  src/components/organisms/Section/index.tsx
  src/components/organisms/SectionAlternate/SectionAlternate.md
  src/components/organisms/SectionAlternate/SectionAlternate.tsx
  src/components/organisms/SectionAlternate/index.tsx
  src/components/organisms/index.js
Due: eslint

Implement main/minimal layout, update app based on routing/layout
  src/Routes.tsx
  src/index.tsx
  src/layouts/Main/Main.tsx
  src/layouts/Main/components/Footer/Footer.tsx
  src/layouts/Main/components/Footer/index.tsx
  src/layouts/Main/components/Sidebar/Sidebar.tsx
  src/layouts/Main/components/Sidebar/components/SidebarNav/SidebarNav.tsx
  src/layouts/Main/components/Sidebar/components/SidebarNav/index.tsx
  src/layouts/Main/components/Sidebar/components/index.tsx
  src/layouts/Main/components/Sidebar/index.tsx
  src/layouts/Main/components/Topbar/Topbar.tsx
  src/layouts/Main/components/Topbar/index.tsx
  src/layouts/Main/components/index.tsx
  src/layouts/Main/index.tsx
  src/layouts/Minimal/Minimal.tsx
  src/layouts/Minimal/components/Topbar/Topbar.tsx
  src/layouts/Minimal/components/Topbar/index.tsx
  src/layouts/Minimal/components/index.tsx
  src/layouts/Minimal/index.tsx
  src/layouts/index.tsx
Due: eslint

Customize theme/palette
  src/themes/default.ts
  src/themes/index.ts
  src/themes/palette.ts
Due: eslint

Make page: notfound
  src/views/NotFound/NotFound.tsx
  src/views/NotFound/index.tsx
Due: eslint

Make page: simple signup
  src/views/SignupSimple/SignupSimple.tsx
  src/views/SignupSimple/components/Form/Form.tsx
  src/views/SignupSimple/components/Form/index.tsx
  src/views/SignupSimple/components/index.tsx
  src/views/SignupSimple/index.tsx
Due: eslint

Make page: Home (50%)
  src/views/Home/Home.tsx
  src/views/Home/components/Customization/Customization.tsx
  src/views/Home/components/Customization/index.tsx
  src/views/Home/components/Features/Features.tsx
  src/views/Home/components/Features/index.tsx
  src/views/Home/components/FollowUp/FollowUp.tsx
  src/views/Home/components/FollowUp/index.tsx
  src/views/Home/components/Hero/Hero.tsx
  src/views/Home/components/Hero/index.tsx
  src/views/Home/components/Hub/Hub.tsx
  src/views/Home/components/Hub/index.tsx
  src/views/Home/components/Intro/Intro.tsx
  src/views/Home/components/Intro/index.tsx
  src/views/Home/components/Partners/Partners.tsx
  src/views/Home/components/Partners/index.tsx
  src/views/Home/components/Pricings/Pricings.tsx
  src/views/Home/components/Pricings/index.tsx
  src/views/Home/components/WorkSteps/WorkSteps.tsx
  src/views/Home/components/WorkSteps/index.tsx
  src/views/Home/components/index.tsx
  src/views/Home/data/index.tsx
  src/views/Home/index.tsx
  src/views/index.tsx
Due: eslint

Generalizing molecule component, BadgeFeature => ImageNode
  src/components/molecules/BadgeFeature/index.tsx
  src/components/molecules/ImageNode/ImageNode.tsx
  src/components/molecules/ImageNode/index.tsx
  src/views/Home/components/Features/Features.tsx
  src/views/Home/components/Intro/Intro.tsx
  src/views/Home/components/WorkSteps/WorkSteps.tsx
Due: eslint

Change asset dir
  public/assets/badges/advantage-money.svg
  public/assets/badges/advantage-ring.svg
  public/assets/badges/advantage-shop-location.svg
  public/assets/badges/advantage-shop-money.svg
  public/assets/badges/advantage-shop-rigid.svg
  public/assets/badges/advantage-time.svg
  public/assets/badges/arrow-right.svg
  public/assets/badges/certified.svg
  public/assets/badges/hand-car.svg
  public/assets/badges/hand-mobile.svg
  public/assets/badges/hand-money.svg
  public/assets/badges/love.svg
  public/assets/badges/phone.svg
  public/assets/badges/security.svg
  public/assets/badges/user.svg
Due: none

Complete advantage components
  public/assets/advantage-back.png
  public/assets/advantage-shop-back.png
  src/components/molecules/index.js
  src/views/Home/components/Advantage/Advantage.tsx
  src/views/Home/components/Advantage/index.tsx
Due: eslint

Update asset url
  src/layouts/Main/components/Topbar/Topbar.tsx
Due: eslint

Complete feedback
  src/views/Home/components/Feedbacks/Feedbacks.tsx
  src/views/Home/components/Feedbacks/index.tsx
Due: eslint

Update homepage with new components, add assets
  public/assets/customers/alice.png
  public/assets/customers/johnny.png
  public/assets/customers/mariah.png
  public/assets/customers/marian.png
  public/assets/feedback-back.png
  src/views/Home/Home.tsx
  src/views/Home/components/index.tsx
Due: eslint

Add StarRating atom component
  src/components/atoms/StarRating/StarRating.tsx
  src/components/atoms/StarRating/index.tsx
  src/components/atoms/index.js
  src/components/organisms/index.js
Due: eslint

Separte data from view
  src/layouts/Main/components/Sidebar/components/SidebarNav/SidebarNav.tsx
  src/pages/home/index.tsx
  src/pages/index.tsx
  src/views/Home/components/Advantage/Advantage.tsx
  src/views/Home/components/Feedbacks/Feedbacks.tsx
  src/views/Home/data/index.tsx
Due: eslint

Build Location component
  src/views/Home/components/Location/Location.tsx
  src/views/Home/components/Location/index.tsx
Due: eslint

New molecule component TabSelector, update several homepage-components, Complete responsiveness
  public/assets/advantage-back.png
  public/assets/advantage-shop-back.png
  public/assets/menu/call.svg
  public/assets/menu/menu.svg
  src/Routes.tsx
  src/components/molecules/TabSelector/TabSelector.tsx
  src/components/molecules/TabSelector/index.tsx
  src/components/molecules/ZipcodeQuote/ZipcodeQuote.tsx
  src/components/molecules/index.js
  src/layouts/Main/components/Footer/Footer.tsx
  src/layouts/Main/components/Topbar/Topbar.tsx
  src/views/Home/Home.tsx
  src/views/Home/components/Advantage/Advantage.tsx
  src/views/Home/components/Candidates/Candidates.tsx
  src/views/Home/components/Features/Features.tsx
  src/views/Home/components/Feedbacks/Feedbacks.tsx
  src/views/Home/components/FollowUp/FollowUp.tsx
  src/views/Home/components/Intro/Intro.tsx
  src/views/Home/components/Location/Location.tsx
Due: eslint

CheckStep remove warning
  src/components/molecules/CheckStep/CheckStep.tsx
  src/components/molecules/index.js
Due: eslint

Change home url
  src/layouts/Main/Main.tsx
  src/utils/consts.ts
Due: eslint

Add media query hook
  package.json
  src/hooks/useDeviseQuery.ts
  yarn.lock
Due: eslint

Add zipcode api, Add vehicle api
  src/api/quote.ts
  src/api/request.ts
Due: eslint

ButtonForward, InputWithStatus, SelectWithStatus atom component
  src/components/atoms/ButtonForward/ButtonForward.tsx
  src/components/atoms/ButtonForward/index.tsx
  src/components/atoms/ButtonGetQuote/index.tsx
  src/components/atoms/InputWithStatus/InputWithStatus.tsx
  src/components/atoms/InputWithStatus/index.tsx
  src/components/atoms/SelectWithStatus/SelectWithStatus.tsx
  src/components/atoms/SelectWithStatus/index.tsx
  src/components/atoms/index.js
Due: eslint

CheckStep, TabSelector, ZipcodeQuote component update
  src/components/molecules/CheckStep/CheckStep.tsx
  src/components/molecules/TabSelector/TabSelector.tsx
  src/components/molecules/ZipcodeQuote/ZipcodeQuote.tsx
Due: eslint

CustomAccordion component
  src/components/organisms/CustomAccordion/CustomAccordion.tsx
  src/components/organisms/CustomAccordion/index.tsx
  src/components/organisms/index.js
Due: eslint
